/* CSS for home page (index.html) */

.beanie-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 200px;
    gap: 15px;
}

.card {
    border: solid 1px black;
    border-radius: 8px;
    text-align: center;
    margin: 10px;
    background-color: #8EB8E5;

    display: grid;
    grid-template-rows: 75% 25%;
    justify-items: center;
    align-items: center;
}

.card img {
    width: 100px;
    object-fit: cover;
}